// colors

blue_color = #00AACC
orange_color = #FF4E00
brick_color = #CD6723
red_color = #B90000
green_color = #5F9B0A
black_color = #000000
warm_grey_color = #333333
grey_color = #2C393B
light_grey_color = #F4F4F4
ivory_color = #EAEAE7

// fonts

* 
	font-family 'FiraSans'

@font-face
	font-family 'FiraSans'
	src url('../fonts/FiraSans-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'FiraSans'
	src url('../fonts/FiraSans-Light.woff') format('woff')
	font-weight 300
	font-style normal

@font-face
	font-family 'FiraSans'
	src url('../fonts/FiraSans-Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'FiraSans'
	src url('../fonts/FiraSans-Bold.woff') format('woff')
	font-weight bold
	font-style normal


html, body
	background black_color
	color white
	height 100%

.screen
	-moz-box-sizing border-box
	background warm_grey_color
	color orange_color
	font-size 2.5rem
	width 100%
	height 10%
	position relative
	text-align right

	.expression
	.error
		position absolute
		top 50%
		right 5px
		margin-top -1.25rem
		opacity 1
		transition all 300ms

	.error
		opacity 0

	&.has-error
		.error
			opacity 1
		.expression
			opacity 0


	.clear-container
		border-right 1px solid black_color
		display table
		height 100%
		opacity 0
		position absolute
		top 0
		left 0px
		transition all 100ms
		z-index 99

		.has-expression&
			opacity 1

	.clear
		background warm_grey_color
		border none
		border-radius 0
		color orange_color
		cursor pointer
		display table-cell
		padding 0 15px
		vertical-align middle
		-moz-user-select none

	.cursor
		-moz-animation-name blinker
		-moz-animation-duration 1s
		-moz-animation-timing-function linear
		-moz-animation-iteration-count infinite


@-moz-keyframes blinker
	0% { opacity 1.0 }
	10% { opacity 0.0 }
	50% { opacity 0.0 }
	60% { opacity 1.0 }
	100% { opacity 1.0 }

.buttons
	height 90%

	.row
		border none
		float left
		width 100%
		height 25%

		&:last-child
			button
				border-bottom-style solid

	button
		-moz-box-sizing border-box
		box-sizing border-box
		background warm_grey_color
		border-color black_color
		border-width 1px
		border-style solid none none solid
		border-radius 0
		color light_grey_color
		display block
		font-size 2.5rem
		font-weight normal
		float left
		padding 0
		height 100%
		width 25%
		transition all 130ms

		&:last-child
			background grey_color
			border-right-style solid

		&.equals
			background grey_color

	button:active
		background orange_color

